<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Edición de Producto</h3>
  <form>
    <div class="form-group">
      <label>Nombre : </label>
      <input type="text"
      class="form-control"
      id="nombre"
      name="nombre"
      placeholder="Digite nombre de Producto"
      [(ngModel)]="producto.nombre">
    </div>
    <div class="form-group">
      <label>Codigo: </label>
      <input type="number"
      class="form-control"
      id="codigo"
      name="codigo"
      [(ngModel)]="producto.codigo"
      placeholder="Digite codigo de producto">
    </div>
    
    <div class="form-group">
      <label>Stock</label>
      <input type="number"
      class="form-control"
      id="stock"
      name="stock"
      [(ngModel)]="producto.stock"
      placeholder="Digite cantidad stock">
    </div>
    
    <div class="form-group">
      <label>Precio + iva:</label>
      <input type="number"
      class="form-control"
      id="precioIva"
      name="precioIva"
      [(ngModel)]="producto.precioIva"
      placeholder="Digite precio + iva">
    </div>
    
    <button class="btn btn-success" (click)="onSubmit()">Guardar</button></form>
  </div>