<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav-ul" style="display: flex;text-decoration: none;list-style: none;">
        <li class="nav-item" >
            <a routerLink=""  style="text-decoration: none;color: aliceblue;">Inicio</a>
        </li>
        <li class="nav-item">
        <a routerLink="admProductos" style="text-decoration: none;color: aliceblue;margin-left: 25px;">adm producto</a>
        </li>
        <li class="nav-item">
            <a routerLink="añadir-producto" style="text-decoration: none;color: aliceblue;margin-left: 25px;">Agregar Producto</a>
        </li>
    </ul>
</nav>

<div><h1 class="text-center" style="margin-top: 50px
;">{{title}}</h1></div>



<router-outlet></router-outlet>